.jumbotron {
    position: relative;  /* Needed for absolute positioning inside */
    background: url('../images/environment-banner.jpg') no-repeat;
    height: 75vh;
    background-size: 100% 100%;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;  /* Ensures nothing spills out */
}

.jumbotron::before {
    content: '';  /* Necessary for a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  /* Dark overlay, adjust opacity as needed */
    border-radius: 1.4rem;  /* Match parent's border-radius */
}

.jumbotron div {
    position: relative;  /* Makes text appear above overlay */
    z-index: 1;  /* Ensures text is not behind the overlay */
}


.jumbotron > .welcome-box{
    padding: 30px;
}

.container > p {
    font-size: .9rem;
}

.col-lg-3 > .card > .card-body > p.card-text{
    font-size:.65rem;
}

.col-lg-3 > .card > img{
    width: 100%;
    aspect-ratio: 16/11;
}

@media screen and (max-device-width:768px){
    .jumbotron{
        height: 45vh;
    }

    .col-lg-3{
        margin: 10px 0px;
    }

    .container > p{
        font-size: .65rem;
    }
}

@media screen and (max-device-width:992px){
    .col-lg-3{
        margin: 20px 0px;
    }

    .col-lg-3 > .card > img{
        aspect-ratio: 14/8;
    }
}

