.jumbotron{
    background: url('../images/environment-banner.jpg') no-repeat;
    height: 75vh;
    background-size: 100% 100%;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size:1.2rem;
    filter: brightness(70%);
}

.jumbotron > .welcome-box{
    padding: 30px;
}

.container > p {
    font-size: .9rem;
}

.col-md-3 > .card > .card-body > p.card-text{
    font-size:.6rem;
}

.col-md-3 > .card > img{
    width: 100%;
    aspect-ratio: 16/11;
}

@media screen and (max-device-width:768px){
    .jumbotron{
        height: 45vh;
    }

    .col-md-3{
        margin: 10px 0px;
    }
}

